{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="preload" href="form" />
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Billetterie</h1>
        <p class="lead">Commandez vos entrées en un clin d’œil grâce à ce formulaire interactif. Laissez-vous guider ! Vous recevrez un e-mail avec vos tickets et toutes les informations de votre achat.</p>
    </div>

    <div class="text-center">
        <a href="form" class="btn btn-link mx-auto">Commander &#8594;</a>
    </div>


{% endblock %}


{% block javascripts %}

    {{ parent() }}


{% endblock %}