body {
    background-color: lightgray;
}

.DayPicker-Footer {
    text-align: center;
}

.form-container {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.birthday-picker .DayPicker-Day {
    color: #d7dbe0;
}

.remove-ticket:hover {
    cursor: pointer;
}